.navbar {
  background-color: #af4747;
  height: 84px;
  color: #fff;
  .title {
    font-size: 31px;
    line-height: 84px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    margin: 0;
  }
}
